body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: linear-gradient(180deg, #0c1120 0%, #0a0f1c 100%);
  color: #d9e2ec;
  scroll-behavior: smooth;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: rgba(12, 17, 32, 0.7);
  position: fixed;
  top: 0;
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  z-index: 1000;
}
nav a {
  color: #cfd9e8;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
}
nav a:hover {
  color: #5da6ff;
}

.btn-start {
  display: inline-block;
  background: #0030dd;
  color: #fff;
  padding: 12px 26px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}
.btn-start:hover {
  background:  #0030dd;
  transform: translateY(-2px);
}

.hero {
  padding-top: 160px;
  text-align: center;
  padding-bottom: 130px;
  background: radial-gradient(circle at center top, #15203b 0%, #0b1221 60%);
}
.hero h1 {
  color: #fff;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.3;
}
.hero span {
  color: #5da6ff;
}
.hero p {
  margin-top: 25px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #aab8d6;
  font-size: 17px;
}

.section {
  padding: 90px 60px;
  text-align: center;
}

.cards {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: linear-gradient(160deg, #11182b, #0d1425);
  border-radius: 16px;
  padding: 40px;
  width: 310px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.35);
  color: #dbe6f3;
  border: 1px solid rgba(255,255,255,0.05);
  transition: 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 15px 35px rgba(0,0,0,0.45);
}

.card-title {
  margin-top: 18px;
  font-size: 21px;
  color: white;
  font-weight: 600;
}

.card p {
  font-size: 15px;
  margin-top: 10px;
  color: #aab8d6;
}

section {
  scroll-margin-top: 140px;
}
